div.element-container.css-ti611l.e1tzin5v3{
    top:50px;

}

div.css-keje6w.e1tzin5v2{
    border-radius:10px;
    border:1px solid #DCDCDC;
    background-color: #EEEEEE;
    padding:1% 1% 1% 5%
}

div.css-12w0qpk.e1tzin5v2{
    border-radius:10px;
    border:1px solid #DCCBEA;
    background-color: #EEEEEE;
    padding:2% 2% 2% 5%
}

div.css-10trblm.e16nr0p30{
    font-size: 10px;
}

